<!-- <!DOCTYPE html> -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5KL4RDH');</script>
<!-- End Google Tag Manager -->

  <title>2021 BMI London Awards</title>
  <link rel="canonical" href="https://www.bmi.com/award-shows/london-2021/" />
  <!-- <meta property="og:image" content="https://www.bmi.com/images/news/2021/LATIN_2021.jpg"> -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="2021 BMI London Awards">
  <meta property="og:description"
    content="....">
  <meta name="description"
    content="...">
  <meta property="twitter:card" content="summary_large_image">
  <!-- <meta property="twitter:image" content="https://www.bmi.com/images/news/2021/LATIN_2021.jpg"> -->
  <meta property="twitter:site" content="@bmi">
  <!-- <meta property="twitter:title" content="2021 BMI Latin Awards"> -->
  <meta property="twitter:description" 
    content="...">
  <meta property="og:site_name" content="BMI.com">
  <meta property="fb:app_id" content="1724794051071297">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="/frontend/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/frontend/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/frontend/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/frontend/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/frontend/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/frontend/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/frontend/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/frontend/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/frontend/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/frontend/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/frontend/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/frontend/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/frontend/images/android-chrome-192x192.png" sizes="192x192">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" integrity="sha512-UiVP2uTd2EwFRqPM4IzVXuSFAzw+Vo84jxICHVbOA1VZFUyr4a6giD9O3uvGPFIuB2p3iTnfDVLnkdY7D/SJJQ==" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  
  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->

    <!-- 
Start of global snippet: Please do not remove
Place this snippet between the <head> and </head> tags on every page of your site.
-->
<!-- Global site tag (gtag.js) - Google Marketing Platform -->
<script async src="https://www.googletagmanager.com/gtag/js?id=DC-8789719"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'DC-8789719');
</script>
<!-- End of global snippet: Please do not remove -->
    
</head>