//- doctype html
//- html
//-   head
//-     //- title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     :verbatim
//-     include head.html
//-   body
//-     block content 